* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #7ca263;
  --fill: #f5f5f5;
  --secondary: #d4d76d;
  --text-color: #1f1f1f;
  --bg-color: #fff;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  background-color: #e6e6e6;
  /* overflow: hidden; */
}

h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul li {
  list-style: none;
}

/* NAV */
.nav {
  display: flex;
  margin-left: 240px;
  justify-content: space-between;
  padding: 10px 5px;
  border-bottom: 1px solid var(--text-color);
}

.search,
.logo-container,
.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search input {
  width: 555px;
  height: 34px;
  background-color: #d2d2d2;
  border-radius: 10px;
  padding: 5px;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.sidebar .logo img {
  margin-right: 10px;
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar i {
  margin-right: 20px;
  font-size: 1.5rem;
}

.sidebar li {
  padding: 12px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar li:hover,
.sidebar .active {
  background-color: var(--fill);
}

.housing-wrapper {
  position: absolute;
  left: 250px;
  right: 0;
  width: auto;
}

.housing-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 20px;
}

.details {
  background-color: #419b45;
  border-radius: 10px;
  height: 25px;
  width: 159px;
  color: white;
  border: none;
}
.housing-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border: 1px solid green;
}

.map {
  width: 16px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 10px;
}

.more {
  position: absolute;
  right: 70px;
  bottom: -60px;
  background-color: #419b45;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
  margin: 1rem 0 0 0;
}

.housing-heading {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.sort {
  display: flex;
  gap: 70px;
  align-items: center;
  padding-left: 6rem;
  padding-right: 5px;
  border-radius: 10px;
  border: none;
  background-color: #d9d9d9;
}
